.fatalBar {
    fill: steelblue;
}
.seriousBar {
    fill: red;
}
.uninjuredBar {
    fill: purple;
}
.visibleButton{
    transition: text 5s ease;
    visibility: visible;
}
.invisibleButton {
    visibility: hidden;
}